[2017-05-06 07:28] krasoffski opened #4 "Binary data upload handles are not properly implemented"
Hi,
I tried to upload binary data to Report Portal but faced with issues that python client does not provide method to perform this.

As I understood we need to implement approach like this: https://github.com/reportportal/client-javascript/blob/master/lib/client.js#L89.

__Need to implement FileRQ here with appropriate multi-part post request and service handler like `send_file`.__

[2017-05-06 07:59] krasoffski commented on #4
Have to pass file like object to log. Closed.

[2017-05-06 17:46] PositiveAlex commented on #4
Thanks for the issue. Will try to implement this.

[2017-05-10 17:44] krasoffski commented on #4
@avarabyeu
I tried to add simple file uploaded to `client-python`  without any checks which looks like this (based on `client-js`):
[code]
As a result python `requests` lib creates following post request with no log message/attachment created in the Report Portal:
![image](https://cloud.githubusercontent.com/assets/1073415/25912672/c9b8054e-35c0-11e7-9708-7dc4b3001713.png)
 __It would be very help

[2017-05-11 16:22] krasoffski commented on #4
Added simple `attach` method for now (most probably batch pushes will require logs reworking).
Closed.

[2017-05-11 16:22] #4 closed

[2017-05-14 08:12] krasoffski opened #10 "Invalid error handling."
# Summary
 1. Wrong approach for exception message updating.
 2. Useless error handling for invalid requests.
 3. Missing response handler for mult-part form request.

## Part 1
At the current moment implemented wrong approach for updating error massage like bellow:
[code]
Let's create a simple example `err.py` and test it on different versions of python:
[code]
Here is the output:
[code]
[code]
A

[2017-05-14 16:50] krasoffski commented on #10
Part 1 is fixed.
Steel need to solve problem for part 2 and part 3.

[2017-05-25 10:50] #10 closed

[2018-04-06 09:51] andreypetrenko82 opened #26 "Add "FEATURE" item_type"
Add "FEATURE" item_type for start_test_item method in service.py for BDD.

[2018-04-13 09:33] osherdp commented on #26
You can actually use `"FEATURE"` as an item type right now, it's just not documented in the docstring of `start_test_item`

[2018-05-27 03:30] koala2012 opened #27 "run pybot got the 'NoneType' object has no attribute 'put_nowait' errors"
I just run the pybot command, but an got error as below

pybot --listener robotframework_reportportal.listener --variable RP_UUID:"b514a045-0a6d-4dc9-a496-fae494f8c928" --variable RP_ENDPOINT:"http://ip172-18-0-10-bc51moquguig00f5g7i0-8080.direct.labs.play-with-docker.com" --variable RP_LAUNCH:"Robotframework_test_demo" --variable RP_PROJECT:"Robotframework_test_demo" -d Results test.robot

======

[2018-05-28 09:41] s0undt3ch opened #28 "New Release"
Can you please release the current code which has `parameters` support?

[2018-06-01 11:56] evjlobanova commented on #27
@krasoffski Yury, maybe you can also help with this and this issue https://github.com/reportportal/client-Python/issues/27 ?

[2018-06-04 21:01] krasoffski commented on #27
Unfortunately I am short of time now and will not have free time slots in the nearest future.

[2018-06-06 16:21] DzmitryHumianiuk commented on #28
@krasoffski @frizzby

[2018-06-14 14:18] koala2012 commented on #27
@ailjushkin I just hade a try, but also get the error came out, could you help to see if my command has wrong?

pybot --listener reportportal_listener --escape quot:Q \

==============================================================================
Test
==============================================================================
[ ERROR ] Calling method 'end_test' of listener 'reportportal_liste

[2018-06-21 19:51] osherdp commented on #28
Any progress with it?
BTW, you can make releasing versions to PyPI much easier and automated by using [travis](https://github.com/gregoil/ipdbugger/blob/master/.travis.yml).

[2018-07-17 15:48] DzmitryHumianiuk commented on #28
@osherdp still not released?

[2018-07-17 15:59] osherdp commented on #28
No, still no version

[2018-07-17 21:47] #28 closed

[2018-07-19 09:47] DzmitryHumianiuk commented on #28
@krasoffski can we automate it with Travis CI, not to disturb you every time?

[2018-07-19 13:43] DzmitryHumianiuk commented on #28
@reportportal/python-contributors Ch-t could you plz take a look?

[2018-07-26 11:35] osherdp commented on #28
@DzmitryHumianiuk / @krasoffski see #30

[2018-08-17 11:55] ch-t commented on #26
You can use "SCENARIO" instead "FEATURE".

@andreypetrenko82 Please, let me inform if there is any reason to add "FEATURE" as item type?

[2018-09-12 10:08] DzmitryHumianiuk commented on #26
@andreypetrenko82 does it work for you?

[2018-09-20 20:26] rplevka opened #34 "current design does not allow to trigger sibling test items simultaneously"
Looking into the code, the `ReportPortalService` class has a hardcoded mechanism of nesting the test items inside each other (it simply sequentially adds test items to `self.stack` which contains the uuids of the tests, and every action (start/finish item) is performed on the recent item).

This simply starts 1 test item inside another in case one triggers `start_test_item` several times in a row:

[2018-09-21 06:45] krasoffski commented on #34
@DzmitryHumianiuk it seems like we need some docks related to RP API because I don't remember why this has such implementations. And which approach is used for Java.

[2018-09-26 09:05] DzmitryHumianiuk commented on #34
@rplevka @krasoffski
As I see, it just should be implemented in py agent, in order to be supported.

The only limitation we have is that you can report into Finished parent.
I mean, if your `TestItem1.1` already **finished**, and it has only `TestItem1.1.1` in it, then you can't simply add `TestItem1.1.2` into it.

It is a structure limitations.

posted issue: https://github.com/reportportal/repor

[2018-09-27 19:45] rplevka commented on #34
@DzmitryHumianiuk, thanks. Also, reporting to the finished item should update the attributes of this item (like finish time).
If your feature request gets implemented, the next step would be to rework the current stack-based design to a simple method call, where the method would accept a "parent_item" parameter

[2018-09-27 20:34] DzmitryHumianiuk commented on #34
@rplevka agree

[2018-10-10 09:47] arozumenko commented on #27
@koala2012
checked on robotframework-3.0.2 and robotframework-3.0.4
with reportportal_client-3.2.0 and robotframework-reportportal-3.0.0
was not able to reproduce.

Could you please verify?

[2018-10-10 10:43] arozumenko commented on #27
Verified on robotframework-reportportal==2.5.4 and reportportal-client==2.6.0 also file

[2018-10-16 10:15] moijes12 commented on #27
I am seeing this same error. Which is the latest reportportal-client that I may use ? Note that I am using report portal build 4.2.2

[2018-10-16 10:57] moijes12 opened #37 "Running robot framework tests inside a container is causing ResponseError: 5000: Unclassified error [null]"
I am facing an issue where I am unable to publish my test results to report portal and I suspect it could be because of networking. Below is a more detailed view of my problem.

### Test Setup
* Tests are running inside a ubuntu image on a gitlab-runner container , say **hostname gitlab.network**
* The reportportal server is running on a different host, say **report-portal.network**
* The tests ar

[2018-10-23 07:07] andreypetrenko82 commented on #26
I use SUITE for running scenarios suite. Due to BDD Feature can me marked as failed due to one failed scenario at least. SCENARIO I use for scenario item. So FEATURE is the same as SUITE. But SUITE doesn't have status, only general statistic (TOTAL, PASSED, FAILED, SKIPPED, etc), In case of FEATURE item_type implementation, I should have STATUS column before TOTAL. I think it will correspond to BD

[2018-10-23 07:08] andreypetrenko82 commented on #26
I was trying to use this item_type. But it did not start launcher. That is why I wrote this topic

[2018-11-02 21:51] rplevka opened #39 "KeyError: 'PYTEST_CURRENT_TEST' on _post_log_batch"
I really don't know what is going on here, i spotted this in a wild, while running py.test with xdist.
according the logs, the [gw5] worker wasn't stuck but successfully executed other tests, however the "crashed" test wasn't properly stopped on RP. Now the whole py.test seems to be hanging.
[code]

this also happened on some other workers during the same run later - same symptoms.

[2018-11-02 23:46] rplevka commented on #39
ok, my crazy theory is the following:

[code]

.. so i think the `requests` lib calls `urllib`'s `getproxies_environment` method before it sends out the request which checks the ENV for a presence of the proxy env vars.
However, PYTEST manages to unset `PYTEST_CURRENT_TEST` while urllib is in the iteration loop on the fly (since it finished the test) and this crashes  the loop since it tries to ac

[2018-11-15 18:48] DzmitryHumianiuk commented on #39
@reportportal/python-contributors fixed?

[2018-11-16 10:43] rplevka commented on #34
@osherdp hey. I see you assigned this one to yourself. Have you had a chance to look into it?

[2018-11-16 14:34] DzmitryHumianiuk commented on #39
then closed.

[2018-11-16 14:34] #39 closed

[2018-12-03 10:49] arozumenko commented on #27
No response, closed as obsolete

[2018-12-03 10:49] #27 closed

[2018-12-03 10:55] arozumenko commented on #34
@rplevka you can workaround it by manipulating self.stack list of service instance

[2019-03-13 14:13] DzmitryHumianiuk commented on #34
@rplevka @arozumenko Folks, how about that issue?
Was it finally resolved?
Can we close it?

[2019-03-13 14:13] DzmitryHumianiuk commented on #34
@rplevka @arozumenko Folks, how about that issue?
Was it finally resolved?
Can we close it?

[2019-04-16 21:24] ndelon commented on #34
Hello,

I'd also like to give my feedback on this topic.

I'm writing a functional test framework named lemoncheesecake (http://lemoncheesecake.io - hub.com/lemoncheesecake/lemoncheesecake) that provides a built-in support for ReportPortal reporting and I encountered the exact same issue initially described by @rplevka .

About a year ago, I introduced parallelized tests support in lemoncheesecake

[2019-04-17 13:41] DzmitryHumianiuk commented on #34
@ndelon @reportportal/python-contributors
we don't have python engineer in team, and looking for contribution at this point

[2019-04-17 22:34] ndelon commented on #34
Ok, then I'll trying to work on this. I'll keep you informed.

[2019-05-01 05:38] sumeetm18 opened #48 "https connection issue with report portal python requests"
Hi Team,

Could you please help me with this issue. We are not able to send the data to report portal using python client with https connection.

Error:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/reportportal_client/service_async.py", line 208, in process_item
    getattr(self.rp_client, method)(**kwargs)
  File "/usr/local/lib/python2.7/site-packages/reportp

[2019-05-01 16:10] ndelon commented on #48
Hello,

I guess that this question as something to do with this other question: https://groups.google.com/d/msg/lemoncheesecake/InueB6j7-jY/HA4Cive7AQAJ ;-)

As indicated in the post I'm referring to, you can use the REQUEST_CA_BUNDLE environment variable to point a trusted certificate chain (your ReportPortal self-signed certificate for instance).

For a more general perspective, the ReportPortal

[2019-07-24 03:38] wahahaXDD opened #50 "New Release"
For what I've seen, the released code on pypi seems to be outdated.
The support for verify ssl and get project settings is not available with current version(3.2.0).
Is the current code ready to release?
What's the process to get it release?

[2019-07-26 06:49] kdivekar opened #51 "Pass specific launch_id in start_test_item"
I am integrating reportportal with my automation framework. The way the framework is designed, it creates the launch in the initiation but I need to call start_test_items from individual test case (python classes) files. For which the solution I thought is to pass launch_id in start_test_item().

I made the required changes in start_test_item and it works fine for me now.
If  this sounds to be a g

[2019-08-05 12:51] akropyva-apixio opened #52 "rp_ignore_errors doesn't ignore connection issues"
For example reporpotral server is down and we have rp_ignore_errors = True into pytest.ini.
We have an error like this:
[code]
init_service => get_project_settings => r = self.session.get(url=url, json={}, verify=self.verify_ssl) which causes an error past parameter rp_ignore_errors

[2019-08-05 12:53] akropyva-apixio commented on #52
Seems its related to agent also

[2019-08-05 12:54] akropyva-apixio commented on #52
rp_verify_ssl = False

[2019-08-08 14:14] dunossauro opened #53 "Adopt client to latest 5.0+ sync-reporting API"
I'm trying running cline-python current version on docker-compose and has many errors related a request.

for example:
[code]
Or
[code]

When investigating that I found in `ReportPortalService` many calls with the wrong payload. Like that:

[code]

Maybe the API change, but I don't know exactly, because yesterday I started my first tests with report portal.

[2019-08-08 14:31] dunossauro commented on #53
Trying fix that: https://github.com/reportportal/client-Python/compare/master...dunossauro:master.

It's wrong implemantation, but works for me. I dont test log yet.

[2019-08-08 21:28] dunossauro commented on #53
After work all day in fix requests I discover the problem. The reportportal.io/download get the beta version. Works good on version 4.

[2019-09-03 06:23] zeburek commented on #50
@DzmitryHumianiuk @krasoffski
Guys, could you please upload latest packages on PyPi?
Actually it breaks the functionality of agent-pytest

[2019-09-03 14:00] zeburek commented on #52
The problem is related to that reportportal agent is initiated before param `rp_ignore_errors` starts to work

Also it seems that this bug should be moved to https://github.com/reportportal/agent-python-pytest

I've added a work-around, but it also failes if server is starting up

[2019-09-03 15:24] DzmitryHumianiuk commented on #50
@krasoffski that should be yours. we don't have release job for `client-python` in our jenkins

[2019-09-18 11:30] sounak95 commented on #51
Could you please provide me the code for the same? It would act as a good reference for my test framework integration.

[2019-10-02 15:35] Almost1990 commented on #50
3.2.3 release should solve the issue.

[2019-10-02 15:35] #50 closed

[2019-10-02 15:54] DzmitryHumianiuk commented on #53
@dunossauro that's right.
current client made for RPv4.
RPv5 has significant difference with v4 reporting API.

BUT
**we added `full backward compatibility` support for v4 API in RPv5.**
so you can give RPv5 a try with client-python v4.

please let us know your results.

latest deployed v5 instance can be found at https://beta.demo.reportportal.io

[2019-10-02 15:56] DzmitryHumianiuk commented on #51
@kdivekar you can create an example, and send it as a pull request into this repo.
so the rest of users can take a look.
and team can decide it worth to be included in core

[2019-10-02 15:57] DzmitryHumianiuk commented on #48
@sumeetm18 did you resolve it?

[2019-10-03 06:39] sumeetm18 commented on #48
Yes

On Wed, 2 Oct, 2019, 9:27 PM Dzmitry Humianiuk, <notifications@github.com>
wrote:

[2019-10-03 10:48] #48 closed

[2019-10-03 12:11] DzmitryHumianiuk commented on #34
@rplevka @ndelon @reportportal/python-contributors
**Ok Folks, good news here!**

ReportPortal v5 with endpoint `api/v2` will support fully async approach.

**In RPv4** Previously all reporting worked in a way that you send RQ to RP to create item, receive ID, and use certain server ID to populate structure on client side. This was the way to support hierarchy and blocked you from starting sibling

[2019-10-04 06:47] dunossauro commented on #53
@DzmitryHumianiuk, Thanks for answering me.

I'll try run in v5 and I say in this issue my resultas. Thanks for your time

[2019-10-04 15:18] jcaplan opened #56 "RuntimeError: dictionary changed size during iteration"
[code]

[2019-10-06 20:24] ndelon commented on #34
Thank you for your update @DzmitryHumianiuk .

About the "id-is-controlled-by-the-client", I got the general idea even if I would need more time to figure out how it can be integrated into the Python client library.

I'll take a look at the Java implementation and i'll keep informed if I can spend time on this.

[2019-10-10 21:01] iivanou opened #57 "ReportPortalService should handle connection issues when processing log batches"
RP service stops reporting if any connection issue occurs during log batch processing instead of trying to reconnect.

[2019-10-15 11:42] DzmitryHumianiuk commented on #50
https://pypi.org/project/reportportal-client/3.2.3/

[2019-10-17 08:06] qkiss commented on #53
Has this issue been addressed? I'm trying to find the client-python v4 version but don't see it.

[2019-10-17 16:47] DzmitryHumianiuk commented on #53
version [3.2.3](https://pypi.org/project/reportportal-client/3.2.3/) is for v4 of RP.

v5 of ReportPortal should also accept v4-based results

[2019-10-18 08:46] qkiss commented on #53
I am trying to use RobotFramework agent and it only works with couple of patches from [master...dunossauro:master](https://github.com/reportportal/client-Python/compare/master...dunossauro:master). For me it's fine for now.

Also I don't see where it's stated that:
**we added full backward compatibility support for v4 API in RPv5.**

[2019-10-18 09:36] DzmitryHumianiuk commented on #53
@qkiss what's your version of ReportPortal you use right now?

that means, that if your test integration worked with latest v4, that should work with latest v5 as well.

[2019-10-18 09:58] qkiss commented on #53
I have 5.0.0-BETA-12. Will try with the latest one.

[2019-10-18 10:37] DzmitryHumianiuk commented on #53
@qkiss beta-12 should also work with original v4 based reporting.
without that fix

[2019-11-12 17:23] mdalboni opened #61 "Report Portal Client should have a way to silence error messages."
When my Report Portal goes down or I have a connection issue report portal get flooded with messages in my behave tests.
For example: 404 and 401 I get a whole html page or a giant exception message.

Long story short: A supress messages parameter for report portal related messages would be nice.

[2019-11-13 09:53] iivanou commented on #61
@mdalboni Could you please explain the meaning of  _report portal get flooded_? Your logs are being flooded? If so, you can handle it on your own by modifying RP client's log handler.

[2019-12-09 10:12] anikettare opened #64 "ReportPortal Stucks Forever with Pytest -x or Pytest maxfail=1"
Hi I am Using Pytest with ReportPortal Whenever I used Pytest -x or Pytest maxfail=1 the Test-Suit Stuck at both on  cmd as well as on UI please Provide the solution.

[2019-12-09 10:19] iivanou commented on #64
@anikettare Could you please describe your problem in a bit more detail? Explain what you are running, how, and what you are expecting. Software versions will be useful as well as logs.

[2019-12-09 10:48] anikettare commented on #64
@iivanou
when i use this command **python -m pytest  -v -x --capture=no --color=yes --show-capture=stderr --confcutdir=tests/network/reportportal/ --reportportal tests/network/reportportal/**

**or pytest -x --reportportal**
<img width="719" alt="Screenshot 2019-12-09 at 4 02 32 PM" src="https://user-images.githubusercontent.com/58687271/70429210-22d8a600-1a9e-11ea-93fb-c411d9236195.png">
<img wid

[2019-12-10 07:27] iivanou commented on #64
This issue is not caused by the client's part. Moving directly to the Pytest agent.

[2020-01-14 22:20] alexforever86 commented on #37
I'm having the same issue. I'm simply running the example script. Getting the same error log.

[2020-01-14 22:28] alexforever86 commented on #37
The project or launch name values were incorrect. The error log here is completely misleading.

[2020-01-15 06:25] iivanou commented on #37
@alexforever86 We can't check the values of launch and/or a project on Python client's side. The error message you see at the stack trace is being returned by the ReportPortal API. You can create a feature request for the RP API in order to make it return something specific rather than just unclassified error.

[2020-01-27 10:30] terminal-illness opened #66 "robotframework and reportportal v5 reporting failing to get launch_id"
I did some debugging and it looks like start_launch, start_test_item, finish_test_item throw 400 responses when using reportportal_client to report to version 5 of reportportal. I can see in the url  is going to api/v1. Not sure if there is a param to pass to tell the client lib its reporting to v5.
Changing the api/v2 doesn't help either. Looks like its failing to get the launch_id.
File "*******

[2020-01-27 10:49] iivanou commented on #66
@terminal-illness Currently, RP version 5 is not supported by Python agents.

[2020-01-27 11:42] terminal-illness commented on #66
Ah cool thanks, will it be supported anytime soon? I see the RP team have v5 in master.

[2020-01-27 11:53] iivanou commented on #66
Yeah, we will update the client soon.

[2020-01-27 12:01] terminal-illness commented on #66
Awesome thanks, please shout if you would like any assistance with testing. Should I close? or we leave it here until the update in case other guys having similar issues?

[2020-01-27 12:04] iivanou commented on #66
Let's keep it for now.

[2020-02-21 08:30] Dhams-1 opened #68 "How to send screenshot to report portal"
Hi All,

I am very new to reportportal. I have installed agent for robotframework. I would like to send the failure cases screenshots to report portal i went through the code from here https://github.com/reportportal/client-Python#send-attachement-screenshots

but I am not able to follow it on where to add this code snippet. Kindly help me with the same.

Case 1 - pass file-like object
with open(s

[2020-02-21 12:08] #68 closed

[2020-02-21 12:20] iamtech123 commented on #66
<<I can help you for any testing required>>

I am facing below error while executing Robot framework test case (similar to @terminal-illness )

Command: robot --listener robotframework_reportportal.listener --variable RP_UUID:"UUID" --variable RP_ENDPOINT:"http://IP:8080" --variable RP_LAUNCH:"superadmin_TEST_EXAMPLE" --variable RP_PROJECT:"superadmin_personal" F:\Program\Robot\RF_Sample.robot

Er

[2020-02-21 12:26] iivanou commented on #66
@iamtech123 RP version 5 is not currently supported by the agent.

[2020-02-21 12:40] iamtech123 commented on #66
@iivanou Thanks for the update. I can help you on any testing requirements.

[2020-02-27 16:46] DzmitryHumianiuk commented on #34
https://github.com/reportportal/documentation/blob/async-reporting/src/md/src/DevGuides/async-reporting.md#asynchronous-api

@ndelon please see detailed description on async reporting.
and reporting devguide itself

https://github.com/reportportal/documentation/blob/async-reporting/src/md/src/DevGuides/reporting.md

[2020-02-27 22:35] ndelon commented on #34
Thanks for this update @DzmitryHumianiuk

I'm interesting in contributing on this and I raised some questions about RPv5 - api/v2 on the #agent_python Slack channel to starting a discussion on this.

[2020-03-04 17:18] anushreeShenoy3 opened #72 "invalid syntax issue due to is_skipped_an_issue"
Error message while executing report module
File "/home/test/agent/workspace/mv/test_backup/.pyenv/local/lib/python2.7/site-packages/lemoncheesecake/reporting/backends/reportportal.py", line 9, in <module>
    from reportportal_client import ReportPortalServiceAsync
  File "/home/test/agent/workspace/mv/test_backup/.pyenv/local/lib/python2.7/site-packages/reportportal_client/__init__.py", line 15,

[2020-03-05 20:54] ndelon commented on #72
It's this commit: https://github.com/reportportal/client-Python/commit/5a6d26de57b58921a642eba53e27ff3a36b0d80c

Having a `*args` before an argument with a default value is not supported in Python 2.7, that's why you get a SyntaxError.

I don't understand the purpose of this change and the `*args` and `**kwargs` variables are not used in this method.

The library used to work in Python 2.7, before

[2020-03-06 08:44] krasoffski commented on #72
@iivanou
`setup.py` does not list any python requirements, that is an issue.
Need to revert commit or update `setup.py` and release notes with supported python versions.

Probably `python2` comes to end of life, that is why core team is focused only python 3 for version 5.
Any way need updated docs and `setup.py`

[2020-03-06 10:15] iivanou commented on #72
@ndelon Read through [this article](https://www.geeksforgeeks.org/args-kwargs-python/) to figure out what is the purpose of *args, **kwargs.

Unfortunately, Python 2.7 is being used by loads of people. I forgot about the missing tests. I will fix this soon.

[2020-03-06 10:39] #72 closed

[2020-03-06 13:49] ndelon commented on #72
Hopefully, I know what are `*args` and `**kwargs`.
But I do not understand why they have been added in the method signature while they are unused.
And adding `**kwargs` in method signature while it's not used is also not user-friendly. If for instance you make a typo in an argument name (example: `retry` instead of `retries`), instead of having an exception `"...unexpected keyword argument..."` yo

[2020-03-06 14:26] iivanou commented on #72
@ndelon I make comments in the code if it is necessary. Unfortunately, I can't explain to everyone every piece of written code. Doing this last time... It was done to allow agents' contributors to implement new features without the necessity to update and release two packages at one time.

[2020-03-06 17:53] anushreeShenoy3 commented on #72
@iivanou Thanks for the updates. I have two projects running in 2.7 and 3+.  Latest code worked fine for 3+. It is not an issue. For 2.7, version 3.2.0 of report client is used in order to avoid conflicts.

[2020-03-09 10:36] iivanou commented on #72
@anushreeShenoy3 Which conflicts do you mean? The latest code should work well with RPv5 and Python 2.7.

[2020-03-11 08:09] iamtech123 commented on #66
Now i am able to run the robot test cases with V5. Thank you very much for the support.

[2020-03-11 08:52] iivanou commented on #66
@iamtech123 You are welcome!

[2020-03-11 08:52] #66 closed

[2020-03-11 08:53] iivanou commented on #53
Closed as already fixed in the client version 5.0.0.

[2020-03-11 08:53] #53 closed

[2020-03-13 08:27] vipin3699 opened #76 "Getting ImportError while Importing ReportPortalServiceAsync"
I am using a reportportal_client to send data to my reportportal.
But when I install reportportal_client and import ReportPortalServiceAsync it through me import error.
Here are the steps I did in my system:-
[code]

Steps to reproduce:-
Create a new virtual environment
`virtualenv -p /usr/bin/python2.7 report_test_env`
activate reportportal-client and run pip list to verify that there should no o

[2020-03-13 10:19] iivanou commented on #76
@vipin3699 Could you please read through the [installation](https://github.com/reportportal/client-Python#installation) part of the README? If you report to RPv4, you should not install the latest version of the client.

[2020-03-13 12:36] vipin3699 commented on #76
Okay I just checked that, My bed I don't know which reportportal version my team is using I was just looking into the python script to send data and that was failing with the above error, Now I got the exact reason of that.
Thanks for instant response :+1:

[2020-03-13 12:36] #76 closed

[2020-03-20 19:07] Dannyb48 opened #78 "start_launch failing on RPv4"
We are having an issue using a tool we wrote that uses the reportportal-client to interact with our ReportPortal instance. The issue specifically is calling the `start_launch` method against Report Portal v4.x the error has usually been some form of the following below.

We were able to determine with these latest releases of the client that it's hard-coded to use the v2 API for `start_launch` but

[2020-03-22 19:52] 2vireddy opened #79 "item_type= step is being logged as a Test method in rp portal"
I have the below code to log a test

![TEST_REQUEST](https://user-images.githubusercontent.com/29040810/77259526-0278d400-6ca8-11ea-8ef1-231fe1b481f0.png)

and below code to log steps to the test

![STEP_REQUEST](https://user-images.githubusercontent.com/29040810/77259592-8763ed80-6ca8-11ea-953d-13d30adeabb5.png)

But the RP shows STEP log request as TEST
![image](https://user-images.githubusercon

[2020-03-23 05:18] 2vireddy commented on #79
passed has_stats = False in the above request and it is reported as a step, however the description is not populated if has_stats = False

[2020-03-23 07:26] iivanou commented on #78
@Dannyb48 Well, we were not planning to make any enhancement in the client regarding RPv4. I suggest you upgrade RP to version 5 'cause the development of the 4th branch has completed. @DzmitryHumianiuk Correct me if I'm wrong.

[2020-03-23 07:33] iivanou commented on #79
That's correct, you should add the kay pair of has_stats=False to your request indicating RP that you are reporting a test step.

[2020-03-23 08:20] DzmitryHumianiuk commented on #78
v4 finalized.
But we can do complementary fixes

[2020-03-23 18:03] Dannyb48 commented on #78
@DzmitryHumianiuk @iivanou sorry about that I didn't realize that it was documented. I just noticed it now.

We've fixed it on our end by limiting the version in our setup file to install client 3.2.3 so we can talk to our Production RPv4 instances.

We are in the middle of standing up a RPv5 instances to test against in house but we just haven't gotten there yet.

It would be nice to have single

[2020-03-23 18:43] 2vireddy opened #80 "logging stack trace and screenshots using python client to report portal"
I am using python unittest with pytest to run results. I would need help in logging stack trace and screenshots to the step / Test. Please help me with the code. I am new to reportportal and your help is much appreciated.  I don't know how to use the rp_logger specified in the example for python client.

[2020-03-24 08:36] #78 closed

[2020-03-24 08:37] iivanou commented on #80
@2vireddy Answered to you in Slack.

[2020-03-25 10:03] jyejare opened #81 "How should I get the results of all the tests using this client ?"
Hello,

I am looking for downloading json/YAML of all the results of finished/unfinished tests from Report portal for specific launch.

How could I do that using this report portal client ? Or any other ways to do that ?

[2020-03-25 10:15] iivanou commented on #81
Hi, what you are requesting is currently out of the scope of the client. You can implement this on your own and suggest a solution via new PR.

[2020-03-25 10:20] jyejare commented on #81
@iivanou Does any other tool that you are known to does what I requested? Else I will implement it my way :)

[2020-03-25 10:28] iivanou commented on #81
If they exist, I'm not aware of them.

[2020-03-27 07:29] #79 closed

[2020-03-27 14:19] UncleTom opened #86 "incorrect processor info in docker container"
platform.processor() is not work in docker container. the value is empty, and cannot post to API.

[code]
tmp fix
[code]

[2020-03-27 14:30] iivanou commented on #86
According to the documentation:

https://docs.python.org/3/library/platform.html

[2020-03-27 15:01] UncleTom commented on #86
Yes, but API does not allow empty value.

[2020-04-07 10:40] dkuchynskyi commented on #86
Hi!
Could you please give any updates about it?

[2020-04-09 08:44] #86 closed

[2020-04-20 10:28] ilia-tsyplenkov opened #94 "KeyError: 'PYTEST_CURRENT_TEST' while sending POST/PUT requests to RP"
https://github.com/reportportal/client-Python/issues/39 fixed only one problem case.
To finally fix race condition issue need to handle all possible cases which are all HTTP requests via `request` package since there is no guarantee that environ dict wouldn't be modified by other service
There are next events which have same problem:
- `reportportal_client/service.py::ReportPortalService::start_la

[2020-04-20 11:18] ilia-tsyplenkov commented on #56
this issue is still actual. See https://github.com/reportportal/client-Python/issues/94

[2020-04-20 11:31] iivanou commented on #56
@ilia-tsyplenkov So, why have you open the same one?

[2020-04-20 14:54] ilia-tsyplenkov commented on #94
@iivanou I don't have write permission in this repo to push. Could you grant it to me?

[2020-04-20 17:09] iivanou commented on #94
You should not push to this repo. Create your fork off the master and push the changes there.

[2020-04-23 09:25] iivanou opened #97 "Duplicate agent name in agent name attached as system information"
[code]

[2020-04-23 11:04] #97 closed

[2020-04-24 11:06] iivanou commented on #94
Fixed in #96.

[2020-04-24 11:06] #94 closed

[2020-05-04 22:28] aceme007 opened #101 "re-run functionality: create new launch on no match?"
I am trying to incorporate re-run functionality provided here by following [this guide](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md) to consolidate my executions.

Have a question (perhaps a feature request, maybe) on what happens if there system is not able to find a match with same name (mentioned in [handling](https://github.com/reportportal/documenta

[2020-05-05 10:32] iivanou commented on #101
I'm not aware of the flag you are looking for. From my point of view, it is not correct behavior when you had requested reporting to the specific launch but got all the results reported to the new one.

[2020-05-06 02:53] aceme007 commented on #101
I'm not actually passing in any `launchid` to report to. I was hoping to utilize the `rerun` functionality to merge launches (which was my intent).

Some more details :
I have a pattern in my execution run names. Eg:
`1.2.3_(Build-3017) Execution 1`, `1.2.3_(Build-3017) Execution 2` and so on...
The merge functionality works fine if it finds a match i.e. "1.2.3_(Build-3017)" however if there is no

[2020-05-06 06:49] iivanou commented on #101
I do not understand this. What is a merge functionality? How does this functionality find anything? You must specify the launch UUID when using rerunOf and your tests' results will be updated at the specified launch if it exists. The client does not operate with launch names in this case at all. Maybe you meant that if your execution includes tests that had not been reported to the existing launch

[2020-05-06 18:00] aceme007 commented on #101
I'm following this documentation section on `rerun` [using-agent](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md#using-agent)

As I understand, there are 2 ways of using `rerun`
1. without any launch UUID (no `rerunOf` mentioned in this case)
2. with `rerunOf` param i.e. an existing lauch UUID

I'm using (1.) above. Is that not the right approach?
If not, d

[2020-05-07 07:07] iivanou commented on #101
Got it.  It's not related to the agent. Let the reportportal development team comment on this. From my point of view, getting 404 in your case is expected behavior.

[2020-05-08 00:40] Preyansh91 opened #102 "Pytest reportportal throws Connection pool is full; Discarding connection issue when trying to use Multiprocessing for sending requests to AWS using boto3"
Seeing an issue of 'connection pool being full; discarding connection' when using reportportal pytest package for logging along with the test using Multiprocessing for sending requests to AWS using boto3. I have upgraded report portal to v5

requirements:
pytest-reportportal   5.0.3
reportportal-client   5.0.3

Here is the error I am seeing:
Creating sns topics
AKIA5MLTZV3YLZJVTYWY Ig2IE/2RnXMeq8c

[2020-05-08 15:37] #102 closed

[2020-05-10 04:29] tirkarthi opened #105 "Importing ABC from collections has been deprecated and will be removed in Python 3.10"
[code]

[2020-05-11 07:32] lorandfazakas opened #107 "Implement the rerun functionality in the client"
ReportPortal now supports a functionality through the API which makes rerunning tests possible. It would be nice if it's implemented in the client to support it.

I'm happy to contribute this modification.

[2020-05-12 07:21] ajinkyapande opened #171 "rp_ignore_errors = True flag is not working"
Hello,

When report portal server is not reachable then my job is failing, even if i have added **rp_ignore_errors = True** in my pytest ini file .

pytest.ini
[code]

Error
[code]

[2020-05-12 11:33] ersuniljoshi opened #108 "service.start_launch doesnot address the rerun flag for the launches"
def start_launch(self,
                     name,
                     start_time,
                     description=None,
                     attributes=None,
                     mode=None,
                     **kwargs):

kwargs has never been used to add more data arguments.

        data = {
            "name": name,
            "description": description,
            "attributes": attributes

[2020-05-13 15:19] #105 closed

[2020-05-24 12:32] jyejare commented on #107
Yeah, I have implemented the rerun using report portal results launch for my project needs and I would be happy to push that here.

[2020-05-24 12:34] jyejare commented on #81
@iivanou I am happy to tell you that I have implemented the fetching functionality and I would like to contribute back here.

[2020-06-02 20:09] herrlindahl opened #113 "Reportportal is starting a huge number of connections when using the requests lib in a test"
Hi!

I have been trouble shooting a large amount of the day a found that when using the requests lib in a pytest and issuing a GET request the reportportal_client floods the log with:
`DEBUG    urllib3.connectionpool:connectionpool.py:230 Starting new HTTP connection ...`

I enabled logging in pytest.ini as my testcase seamed to hang (bold row in test_file.py) when running pytest with --reportport

[2020-06-02 22:03] herrlindahl commented on #113
One more thing, i changed my test to not do a requests.get() but a simple print() instead. Then the communication towards reportportal work.

`import requests
import time
#import pytest

def test_one():
    for i in range(6):
        # print(requests.get("http://10.46.100.135:5001/"))
        print("Test")
        time.sleep(1)
`

**LOG from working example**
(venv) ubuntu@ubuntu-TMGmlin:~/stash/p

[2020-06-03 06:31] iivanou commented on #113
@herrlindahl Can you try reporting to https://beta.demo.reportportal.io/ instead of http://10.46.61.14:8080?

[2020-06-03 06:38] herrlindahl commented on #113
@iivanou

(venv) ubuntu@ubuntu-TMGmlin:~/stash/pytest_lab$ python3 -m pytest /home/ubuntu/stash/pytest_lab/test_file.py --reportportal

----------------------------------------------------------------- live log sessionstart ------------------------------------------------------------------
DEBUG    pytest_reportportal.service:service.py:128 ReportPortal - Init service: endpoint=https://beta.demo.r

[2020-06-03 06:44] herrlindahl commented on #113
I ran 2 tests, one without using the requests library and one with a requests.get() call.

**Test 1**
[code]

**Test 2**
[code]

[2020-06-03 07:06] iivanou commented on #113
It will be fixed once a new client with non-blocking HTTP requests functionality is released.

[2020-06-03 07:09] herrlindahl commented on #113
Ok, so do you have any idea of when that is ? :)

[2020-06-03 07:14] iivanou commented on #113
No specific date is set cause it is open source. Meanwhile, you can play with the [max pool size](https://github.com/reportportal/client-Python/blob/master/reportportal_client/service.py#L195).

[2020-06-08 21:10] herrlindahl commented on #113
@iivanou
After some more trouble shooting I have seen that this is not a network issue actually. I looks as it has to do with the pytest_reportportal/listner.  If I force PYTEST_HAS_LOGGING_PLUGIN to False in listner.py it starts to work as expected.....

What happens (at least I think so) is that the logger callback will be called recursively and every time the log is sent to reportportal  in rep

[2020-07-14 14:31] Ngaur commented on #113
I am also experiencing the similar issue and making it work by forcing PYTEST_HAS_LOGGING_PLUGIN = false in listener.py
When we can expect a permanent fix of this?
Because making it False, does not send logs for test steps debug logs in test cases, which I was getting earlier in report portal.

[2020-07-15 06:28] iivanou commented on #113
You can implement a non-blocking mechanism that aggregates log messages and sends them out via HTTP to RP. The other option is to wait until it is done by anyone else.

@herrlindahl If u are sure about the root cause, you can provide us with PR that fixes the issue.

[2020-09-14 13:01] ohank opened #136 "Long pytest makers make report portal status:interrupted"
When i use this on a test:
@pytest.mark.required_options('MACHINE_TYPE=100/101/102/103/104/105/106/107/108/110/111/112, USE_FAM_HLM_SENSOR=1, USE_FAM_OPTION=1, USE_HOLE_LENGTH_MEASURE=1)

report portalt get status:interrupted and this error:
INTERNALERROR> reportportal_client.errors.ResponseError: 4001: Incorrect Request. [Field 'attributes[].value' should have size from '1' to '128'.]

the @pytes

[2020-10-11 05:42] NikitaFedoraev opened #121 "Add a way to get launch UI id and UI URL."
`ReportPortalService()` does not have a method to get UI ID and URL that a user may use to get the launch in ReportPortal.like `http://172.17.120.254:8080/ui/#superadmin_personal/launches/all/11`

Would be great to have it. SO that we could print in in Pytest/other clients at the beginning/end of a session to be used by one click.

[2020-11-03 20:33] ajeain opened #129 "AttributeError:: 'ReportPortalService' object has no attribute 'get_system_information'"
I have started to get this error today, after the last release of reportportal-client = 5.0.6.
Up until 5.0.5 I didn't get this error.

[2020-11-04 12:15] iivanou commented on #129
@ajeain You are getting this error if you are using Pytest agent. It's not a client issue. Pytest agent version 5.0.6 will resolve this.

[2020-11-04 12:15] #129 closed

[2020-11-09 20:20] rjswitzer3 opened #130 "Feature: finish_launch updates launch attributes(tags)"
`finish_launch()` does not provide the ability to update/override launch attributes(tags) upon completion. This feature is supported by the underlying API, but has not been included in the client.

Based on the implementation of `finish_test()`, this seems to be a relatively straightforward implementation.

[code]

This would be great to have so one could add additional tags based on the results o

[2020-11-10 09:38] iivanou commented on #130
Why don't you create a PR?

[2020-11-11 08:48] iivanou commented on #130
Fixed in #131

[2020-11-11 08:48] #130 closed

[2020-12-04 19:39] rplevka opened #135 "Implement Google Analytics kill switch"
[One of recent commits](https://github.com/reportportal/client-Python/commit/f960f6c140bdf9f49f99515f92d1d3922da006e3) introduced a hardcoded implementation of Google Analytics.
I find this a very bad practice especially when there's no way of opting out (such feature should actually be `opt-in`). It made me to start looking around and I found out, this got implemented in all RP agents - there was

[2020-12-05 19:07] rplevka commented on #135
Please, disregard -
The disclaimer is already in the pytest agent repo and I just missed the fact, that the opting out happens there.

[2020-12-05 19:07] #135 closed

[2020-12-15 08:48] iivanou commented on #108
Already fixed.

[2020-12-15 08:48] #108 closed

[2020-12-16 13:20] #136 closed

[2020-12-16 15:38] #107 closed

[2020-12-21 09:55] Hsillman opened #138 "Report Portal launches with incorrect test counts"
Hello Folks!

We are fetching Jenkins results and importing them into Report Portal. However, some launches have some tests missing in comparison to the total test count from Jenkins job. If we compare the amounts, we see that some launches have missing tests (around 1-6 tests) that do not appear at all in the Portal.

Test amount in Jenkins Job:
![Captura de Tela (202)_LI](https://user-images.git

[2020-12-21 09:55] HardNorth commented on #138
@iivanou Could you please take a look?

[2020-12-22 13:12] iivanou commented on #138
It has nothing to do with the Python client. It sends out exactly what had been passed to it. I believe that the finding regarding timestamp may be a root cause. I'm not sure how are being processed timestamps with an invalid format. The second one mentioned timestamp does not match ISO 8601.

Sending back to reportportal.

[2020-12-27 19:28] nepatriots21 commented on #68
Did you figure it out @Dhams-1 ??

[2021-02-16 08:35] iivanou commented on #113
@Ngaur, @herrlindahl Can you try the latest version of the pytest agent? I have fixed one issue recently that may resolve this one as well. Thanks.

[2021-03-08 13:00] DEEPAKCHANDRA7 opened #145 "Importing Html reports from Local to Report Portal"
Hi Team,

We are trying to import HTML report from Local that are created while running automation scripts to Report Portal dashboard for that specific launch. Please let me know how to do this Thanks !

PS:Html reports also contains screenshots(.jpg files) that took using Phyton !
Can you please help me with this?

[2021-03-15 06:43] vipin3699 opened #146 "client-python is not finishing launches in ReportPortal Version 5.3.3"
Hi all,
I am trying to push some results to a ReportPortal instance has version 5.3.3.
But the script I am using is not working so I try to follow all the steps mentioned in this REPO but it's still not finishing.
Python file I am using.
[code]
and the output goes like this
[code]

But On the ReportPortal WUI, it's looking like this.
![Screenshot from 2021-03-15 11-33-58](https://user-images.githu

[2021-03-15 12:26] iivanou commented on #146
![image](https://user-images.githubusercontent.com/8349078/111153138-9ec77500-85a2-11eb-995f-b8630865e740.png)
![image](https://user-images.githubusercontent.com/8349078/111153176-ac7cfa80-85a2-11eb-845b-16c71310b8e7.png)

Can u try with python 3.6?

[2021-03-17 06:44] vipin3699 commented on #146
Sure I will try and update soon.

[2021-03-17 07:03] vipin3699 commented on #146
Thanks for the update but
It's still same for me with Python Version
Python: Python 3.6.13

[2021-03-17 07:49] iivanou commented on #146
Not sure how I can help you. It's not reproducible. Can you share debug log messages?

[2021-03-17 08:23] vipin3699 commented on #146
So the thing is that I only have access to the WUI of Report Portal so I am not sure I can get what you are asking.
and from the option `log` in ReportPortal WUI, I am getting the message I send via script `Hello World!`.
If it's reproducible then might be it's an issue with the deployment.

Thanks for the help :)

[2021-03-17 08:56] iivanou commented on #146
I meant log message from your Python code that you wrote.

[2021-03-17 08:57] ArchiDevil opened #147 "client-Python seems have no way to use custom SSL certificates"
Hi, we are trying to make it work with custom SSL certificates inside our corporate network.

I haven't found any ways to make it use custom certificates because reportportal-client does not pass needed `requests` param to the user (`requests` library can accept a custom certificate file on connections). Do you have any plans to implement it or is there any other way to make it work?

[2021-03-17 09:03] vipin3699 commented on #146
So the file didn't print or display anything on the terminal but when I run the same steps in the Python interpreter I got these messages.
[code]

[2021-03-17 09:11] iivanou commented on #147
Hi, you can export the path to your self-signed certificate before running Python.

`export REQUESTS_CA_BUNDLE=/path/to/your/certificate.pem`?

[2021-03-17 09:55] iivanou commented on #146
Add the following lines after imports and share the output.

[code]

[2021-03-17 09:58] vipin3699 commented on #146
Okay Here is the outputs I got by adding the above imports.
[code]

[2021-03-17 10:04] ArchiDevil commented on #147
For some reason, it does not work in a virtual environment, we are investigating and looking for other solutions if it does not work. Is it possible to propose a PR here, or you don't accept PRs from outer sources?

[2021-03-17 10:07] iivanou commented on #146
This output tells me that your test items were sent to Report Portal correctly.

[2021-03-17 10:09] iivanou commented on #147
All PRs are appreciated.

[2021-03-17 10:14] vipin3699 commented on #146
Yes, I also think that the issue is with the ReportPortal Server I have.
I will redeploy that and get back to you If I face this issue again.

Thanks for your time :)

[2021-03-22 16:01] ArchiDevil commented on #147
Thanks for the response. I will think about making a PR.

[2021-03-22 16:01] #147 closed

[2021-03-30 12:35] jiridanek commented on #113
@iivanou You mean https://github.com/reportportal/agent-python-pytest/releases/tag/5.0.8? For me, this issue still persists there.

[2021-03-30 13:59] jiridanek commented on #113
Default, whatever that is.

[2021-03-30 14:20] iivanou commented on #113
@jiridanek Can you increase rp_log_batch_size value to 100? It should solve the problem of making new connections too frequently.

[2021-03-30 15:16] jiridanek commented on #113
@iivanou I tried 100 and also 200. Did not help. It (possibly) makes the test run longer without the connectionpool warnings, but it always gets into that

[code]

[2021-03-30 15:55] iivanou commented on #113
Ok. You are not seeing any improvements because you are not sending logs to RP? Am I right?rp_log_batch size impacts only sending logs.

[2021-03-30 16:58] iivanou commented on #113
Can you share debug logs? Thanks. What if increase batch log size to 500?

[2021-03-31 07:31] iivanou commented on #113
@jiridanek Let's set batch log size to 100 for now. Could you show me how exactly rp endpoint is specified in your config file?

[2021-03-31 07:40] jiridanek commented on #113
Hey, I'm OOO today, so I can't do this interactive debug now. I'll edit the message with my rp config as soon as I dig it out.

[2021-03-31 13:51] iivanou commented on #113
@jiridanek Can you apply changes from [here ](https://github.com/reportportal/agent-python-pytest/pull/261)with log batch size set to 100? Let me know how are thing going. Thanks in advance.

[2021-03-31 14:02] jiridanek commented on #113
That looks reasonable. It's essentially like my workaround I posted before.

Is there anything special in my usage of pytest rp or to server setup that is causing this? I don't understand why everybody doesn't have same problem.

(If there's something about my setup, i can ask a colleague for help. The report portal instance is provisioned from a canned shared config.)

[2021-03-31 14:12] iivanou commented on #113
I think your tests produce too many logs. In case of slow transport to RP instance, we may see such an effect.

[2021-04-01 12:46] jiridanek commented on #113
Could be. Tests do produce heaps of logs and the RP instance is located in the USA, whereas I am running the test on my laptop in Europe. I did not have this problem in CI, which is running the tests close to the RP instance (same building).

I just did that, it worked forr me: connectionpool messages are not printed and test finishes. I used `rp_log_batch_size = 100`.

[2021-04-01 13:11] iivanou commented on #113
@jiridanek Thanks for the help in debugging. Closing it now.

[2021-04-01 13:12] #113 closed

[2021-05-27 09:11] #146 closed

[2021-05-30 01:44] buchi-busireddy opened #155 "Client is reporting "bearer" in lowercase for the token but it should be "Bearer""
**Describe the bug**
We tried running `service-api` behind an Envoy proxy and when Python client was reporting the test results, it failed because Envoy rejected the request saying "RBAC failure". When drilled into it, it turns that Envoy expects the beader token prefix as `Bearer `, not `bearer `. See https://tools.ietf.org/id/draft-ietf-oauth-v2-bearer-13.xml%5C#rfc.section.1.1 which clearly say

[2021-08-04 10:27] dkuchynskyi opened #160 ""Skipped" tests in To Investigate even with rp_is_skipped_an_issue = False"
"Skipped" tests in To Investigate even with rp_is_skipped_an_issue = False
pytest-reportportal==5.0.10
pytest == 6.2.4

Added
rp_is_skipped_an_issue = False
setting doesn't work, all skiped tests added into the To Investigate section

[2021-08-16 11:27] vipin3699 opened #161 "Add support to push tags in ReportPortalService class for Report Portal Version 5"
Hi all, in client-Python v3 we can pass tags in [start_launch](https://github.com/reportportal/client-Python/blob/v3/reportportal_client/service_async.py#L250) method of class ReportPortalServiceAsync but this feature seems to be missing in
client-Python v5 with class ReportPortalService.

Can we implement the same in ReportPortalService or in client-python v5?
I will try to implement it if I can

[2021-08-16 11:52] iivanou commented on #161
tags have been renamed to [attributes](https://github.com/reportportal/client-Python/blob/master/reportportal_client/service.py#L219) in V5.

[2021-08-16 12:13] vipin3699 commented on #161
Acknowledge I will put it in the README.md
We can close the issue now Thanks :)

[2021-08-16 12:17] #161 closed

[2021-09-29 00:42] allan-silverstein opened #162 "Reportportal client crashing due to maximum upload size exceeded"
**Describe the bug**
Report Portal client causing pytest crash with the following trace.

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:
Certain tests I'm running produce large log files. These log files are uploaded to report portal via the reportportal_client. (I believe this is happening during log file upload...) Is there a way to increase this value to accommodate larger File

[2021-09-29 09:10] iivanou commented on #162
Well, I'll let @HardNorth comment on this. Is it possible to increase the limit for file uploads? Or, maybe, this case should be handled by the client?

[2021-09-29 14:56] allan-silverstein commented on #162
I was thinking there would be a way... I first posted this issue on the github reportportal site but got no response after a week.  But the error message at the bottom references reportportal_client so hoping someone has a solution here.  Thx

[2021-09-29 15:04] iivanou commented on #162
The error is caused by the RP server-side response that is complaining about the maximum upload size.

[2021-09-29 17:29] allan-silverstein commented on #162
Do you know if there is a parameter to modify to increase the max upload size?

[2021-10-22 07:14] sanathpholla opened #164 "_log_batch function in ReportPortal service class no longer takes item_id as its parameter"
**Describe the bug**
Previous to the commit mentioned below, the log_batch function was taking item_id as parameter and the log was attaching to that particular item_id specified. But since this commit, item_id is removed from _log_batch function making it impossible to attach the batch log to particular item_id.

https://github.com/reportportal/client-Python/commit/29200b041fd03b0f37454195724aed7

[2021-10-22 09:36] #164 closed, assigned to nobody

[2021-11-12 11:49] troyhugs opened #166 "Any tutorial for the reportportal upgrade?"
I am using the RP version 5.3.5.
Can you help me out to upgrade to the latest 5.5, without any launches data?
At-least- the I need the dashboards which are created to present in the database.

[2021-11-22 08:13] sonamsingh1799 opened #167 "how to log allure steps in report portal using python"
Is it possible to implement the same as in Allure based on Steps, or how to connect logging via Allure Steps in report portal using python.

[2021-12-11 14:41] abrilevskiy commented on #167
It will be very nice to have nesting reporting from Pytest to Report Portal.

[2022-01-12 03:56] unmurphy commented on #167
face the same problem, any updates?

[2022-01-12 08:34] HardNorth commented on #167
Looks like unreal case for now. It's not annotations like in Java, where we can intercept execution and read them. It's decorators, a reference on a real method. And there is no straight way to intercept execution in Python except hacking with mocks. I'll think how we can do this in a delicate way, but if there is no such solution in Python I would rather not to do this.

[2022-01-14 01:49] unmurphy commented on #167
@sonamsingh1799 I found a temporary solution that we can manually add logging info for each allure decorator, such as

[code]

[code]

[2022-01-16 10:41] VStoilovskyi commented on #162
@allan-silverstein If your question is still actual,  Looks like requests's maxSize is configured on Spring's side in following configs - https://github.com/reportportal/service-api/blob/2726c465380c33ada25f3a01e828f78c30e3b902/src/main/resources/application.yaml#L151

[2022-02-16 10:57] lorjala opened #170 "Test hangs if the launch request gets no response"
**Describe the bug**
Test hangs on ReportPortalService.start_launch() if report portal service is accessible but cannot handle launch POST request. https://github.com/reportportal/client-Python/blob/0bf36d7f8aecec126c1adae9641ae59c77e3bb53/reportportal_client/service.py#L231 never timeouts in that instance.

This issue is caused by no response from the service-api but the client should handle even

[2022-02-16 11:04] HardNorth commented on #170
Well, OKay, we need a fix.

[2022-04-06 14:39] #170 closed

[2022-04-11 11:23] HardNorth commented on #162
I believe the question is answered. As for client-based solution we are not going to implement it any time soon.

[2022-04-11 11:24] #162 closed

[2022-04-11 11:24] HardNorth commented on #121
Done

[2022-04-11 11:24] #121 closed

[2022-04-11 14:36] HardNorth commented on #61
Abandoned.

[2022-04-11 14:37] #57 closed

[2022-04-11 14:42] #51 closed

[2022-04-11 14:43] HardNorth commented on #171
Should be good in client-Python 5.2.

[2022-04-11 14:43] #171 closed

[2022-04-11 14:47] HardNorth commented on #34
Please use `RPClient` class for multi-thread processing. And also pay attention that you need to create a fresh instance of the client for every new thread.

[2022-04-11 14:47] #34 closed

[2022-04-11 14:49] HardNorth commented on #81
Abandoned

[2022-04-22 12:39] rplevka opened #179 "batch logging should watch the resulting batch payload size"
**Describe the bug**
We currently only issue the batch logging after the configured batch_log_size is about to be exceeded.
https://github.com/reportportal/client-Python/blob/master/reportportal_client/core/log_manager.py#L72

This method also needs to watch the current batch payload size, as RP server refuses requests that exceed the pre-configured maximum payload size:

[code]

**Steps to Reprod

[2022-04-25 12:17] iShimon opened #180 "attachments are not arriving to reportportal and new messages are not arriving after attachment attempt"
sending attachment to log is not flushed and log data stops arriving to reportportal

I have tested it in my environment with pytest-reportportal ==5.1.0 and reportportal-client == 5.2.0

sent  the following line :
`log.info('test.json', attachment={"data": '[{"test": "id"}]', "mime": "application/json"})`
after trying to send an attachment no more logs are arriving to reportportal in the current

[2022-04-26 09:20] HardNorth commented on #180
Fixed in: https://github.com/reportportal/client-Python/releases/tag/5.2.1

[2022-04-26 09:20] #180 closed

[2022-04-26 13:45] wtrwinberg opened #182 "AttributeError: 'NoneType' object has no attribute 'log'"
A PytestUnhandledThreadExceptionWarning is triggered when returning the log property from the rp_client object:

`AttributeError: 'NoneType' object has no attribute 'log'`

This warning does not appear with reportportal-client at version `5.1.0` and below but appears at `5.2.0` onwards.

[2022-04-27 09:35] HardNorth commented on #182
@wtrwinberg I don't see such error on our [examples](https://github.com/reportportal/examples-python/tree/master/pytest). Which agent version do you use?

[2022-04-27 12:28] wtrwinberg commented on #182
@HardNorth The agent version is the latest available: 5.1.1

[2022-04-27 13:16] HardNorth commented on #182
@wtrwinberg I'm still not getting it. Where do you get `rp_client` object? How do you get `log` property? Could you please point on some code?

[2022-04-27 13:19] HardNorth commented on #182
Actually there is no `log` property in `RPClient` class. There is `log` method, but it does not return anything by design.

[2022-04-27 13:25] wtrwinberg commented on #182
That's correct - the log method is utilised by default, where the warning appears when it emits rp_client.log at the return statement in the following file [https://github.com/reportportal/client-Python/blob/develop/reportportal_client/logs/__init__.py](https://github.com/reportportal/client-Python/blob/develop/reportportal_client/logs/__init__.py)

[2022-04-27 21:01] HardNorth commented on #182
Ahh, thanks, now I got it.

[2022-04-28 09:40] #182 closed

[2022-04-28 12:13] HardNorth commented on #182
https://github.com/reportportal/client-Python/releases/tag/5.2.2

[2022-06-20 10:10] dagansandler opened #184 "Certain configurations of logger fails execution with `AttributeError: 'LogRecord' object has no attribute 'attachment'`"
**Describe the bug**
Under some configurations, test execution may fail with the following error:
`AttributeError: 'LogRecord' object has no attribute 'attachment'`
This is caused by `RPLogHandler.emit` calling `getattr(record, 'attachment')`.
Normally, when the logger is configured correctly, this causes no problem because RP patches the logger properly. However, under some conditions, logger ini

[2022-06-23 14:41] HardNorth commented on #179
Should be implemented here: https://github.com/reportportal/client-Python/releases/tag/5.2.3

[2022-06-23 14:41] #179 closed

[2022-07-03 08:45] EyalrAtBay opened #189 "Separate test stages when using steps"
Hi, I have been using the nested steps in test reporting and it works really well, I wanted to ask if there are any plans to incorporate different test stages, i.e "set up", "test body" etc..

Technically it would mean any fixtures/methods marked as a @step and run before the collected test would appear collectively under a step named "Set up" in the UI, all steps related to the actual test/s woul

[2022-07-08 16:12] rujutashinde opened #190 "Launch is not populated on the gui but a uuid for that launch is generated"
Hello

We use reportportal_client in our tool to import xunit files to RP instance.Once launch is completed we use the below  api  to get the launch id
`/launch?filter.eq.uuid=<UUID>`

We are seeing this  issue where the launch starts and finishes and generates the uuid, but while using the above api , the response is empty.  The gui also does not show any launch started.  This issue is seen aroun

[2022-07-11 13:43] shague opened #191 "RP session does not log anything when it fails to log an attachment that is too large"
**Describe the bug**
The RP session does not have any logs after an error occurs from trying to attach a large file that is larger than the configured maximum. In this case the max is 128Mb and the file is 160Mb. The RP session is opened, logs created, then the large log raises an exception and no logs are on RP for the session.

reportportal_client.errors.ResponseError: 5000: Unclassified error [

[2022-07-11 18:46] HardNorth commented on #191
@shague You are using outdated version of `pytest-reportportal`, please use the latest one: https://pypi.org/project/pytest-reportportal/5.1.2/

[2022-07-11 18:46] #191 closed

[2022-07-12 12:50] shague commented on #191
Is there a different workaround so the older version can continue to be used? Bringing in the new RP brings in different issues so we can't upgrade yet.

[2022-07-12 14:26] HardNorth commented on #191
@shague No

[2022-07-14 19:48] rujutashinde commented on #190
Hello, I was hoping someone can help us out with the issue, we see this more often and it is reproducible on a couple of our RP instances. We see that launch id comes back null in 2 different cases:

1. the launch is successful and seen on the RP instance. here if we retrieve the launch `id` using the launch `uuid` after some time(say 5-10 sec) we get back the launch `id`
2. the launch looks like

[2022-09-02 12:28] rujutashinde commented on #190
Hello @HardNorth Can someone from the project team provide some information on this issue?  we are seeing a lot of issues where after the service starts the launch , the launch id returned is None.  This causing a lot of failures for our project . Any help would be appreciated

[2022-09-02 13:40] lmazureNX opened #194 "Detect spurious slash at end of ReportPortal URL"
**Is your feature request related to a problem? Please describe.**
My configuration
- ReportPortal 5.7.2 in Docker in WSL2 on my laptop
- I am running some simple tests Robot Framework tests (https://gitlab.com/m4711/robotframework-samples)
- I try to push their results in ReportPortal (using gitbash in Windows on my laptop)

I tried initially with the following command line;
[code]
I got:
[code]

[2022-09-02 18:20] HardNorth commented on #190
@rujutashinde I don't see your code to say anything and I don't want to guess. I can only say, that our integrations works well.

[2022-09-06 18:40] rujutashinde commented on #190
Thanks @HardNorth ,  is there a suggested guide as to what should be the rabbitMQ  configurations?

[2022-09-14 12:35] dagansandler opened #192 "get_launch_ui_url returns incorrect url in some cases"
**Describe the bug**

The returned URL is sometimes incorrect, and while it leads to the correct launch, navigation is broken.
This is somewhat a bug in RP UI, but can easily be averted when building the URL.

1. When running in `mode="DEBUG"` the launch url should be `https://rp.company.com/ui/#project/userdebug/all/73327` but is instead returned as `https://rp.company.com/ui/#project/launches/al

[2022-09-14 14:36] HardNorth commented on #190
@rujutashinde No, we don't have any documents for RabbitMQ tuning. But I would suggest to investigate the root cause of disappearing launch uuids:
* Does it happen during high-load times?
* Is it just delay, or launches will be never created?
* If it's not created what is the reason, what server logs say?
* etc.

[2022-09-14 14:46] rujutashinde commented on #190
Appreciate the feedback!  so we have multiple instances of ReportPortal, and they have heavy-load most times, so i am seeing both issues launches never get created and sometimes there is a delay in launch creation. we are trying to figure out to get more info from the rabbit mq logs

[2022-09-15 16:24] HardNorth commented on #192
Fixed: https://github.com/reportportal/client-Python/releases/tag/5.2.4

[2022-09-15 16:24] #192 closed

[2022-09-16 12:52] HardNorth commented on #194
Fixed

[2022-09-16 12:52] #194 closed

[2022-09-16 14:43] manykarim opened #195 "Error when running post_result.py with Report Portal Client 5.2.4 against Report Portal 5.7.2 (Client 5.2.3 works)"
**Describe the bug**
Executed Robot Framework Tests and generated `output.xml`
Afterwards used `post_result.py` script to upload results to Report Portal 5.7.2

`python post_report.py --variable RP_UUID:"<my-uuid>" --variable RP_ENDPOINT:"<my-endpoint>" --variable RP_LAUNCH:"test_launch" --variable RP_PROJECT:"<my-project>" output.xml`

When running the script with the latest Report Portal Client

[2022-09-16 19:23] HardNorth commented on #195
@manykarim Fixed. I'm not sure whether I need to release another client version right now, since it looks like this only affects this tool, but to workaround you may specify "RP_MODE" variable.

[2022-09-16 19:23] #195 closed

[2022-09-16 19:51] manykarim commented on #195
Great, thanks a lot.
Meaning, I need to add e.g. `--variable RP_MODE:"DEBUG"` and it'll work?

[2022-09-17 06:17] HardNorth commented on #195
@manykarim `--variable RP_MODE:"DEFAULT"` if you want regular launch.

[2022-10-13 20:14] rujutashinde commented on #190
Hello @HardNorth  related question, we use the service.py to start/finish launch and test items.
To assist with the issues that occur on the RP instance which can cause delay or loss from the rabbit mq pods, we wanted to add some error handling on our tool, where we can catch the errors the python-reportportal client sees when starting/finishing the launch.
 From this lines of code https://github.

[2022-11-15 12:54] SabinaRachocka opened #198 "Logger doesn't support stacklevel"
**Describe the bug**
The RPLogger doesn't accept stacklevel as an argument, which results in an error.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Use any library that logs internally using stacklevel as an argument.
Ex. sqlalchemy 1.4.44

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
`> E TypeError: _log() got an unexpec

[2022-11-18 10:57] HardNorth commented on #198
Fixed in: https://github.com/reportportal/client-Python/commit/cd18e87587f18c5f6a67b3635d76fa78527db694

[2022-11-18 10:57] #198 closed

[2022-11-21 06:35] HardNorth commented on #190
@rujutashinde We are not throwing back errors because we are reporting tool and it's logically incorrect if a reporting tool break test run. As for your case I believe it's more that enough information to solve the case. `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate` means that either you run your test on a system where no CA Certificate instal

[2022-11-21 06:35] #190 closed

[2022-11-21 14:06] rujutashinde commented on #190
@HardNorth Thank you!